{% extends 'base.html.twig' %}

{% block title %}ThinkLink aplikace{% endblock %}

{% block body %}
    <h1>Vítejte v aplikaci ThinkLink!</h1>
    <p>ThinkLink je webová aplikace, která umožňuje uživatelům nahrávat a propojovat svoje poznámky na webu. Nejzajímavější součástí aplikace je automatické propojování poznámek na základě obsahové podobnosti. Tímto způsobem může uživatel objevit nové souvislosti mezi svými poznámkami, získat nové poznatky, zlepšit svoji produktivitu a být více kreativní.</p>
    <p>Můžete začít vytvořením poznámky či nahráním souboru. Veškeré soubory lze nahrávat i ve větším množství pomocí ZIP archivů.</p>
    <p>Po vybrání poznámky na seznamu dostupných poznámek se můžete podívat na sémanticky a obsahově nejbližší poznámky.</p>
    <ul>
        <li><a href="{{ path('app_files_upload') }}">Nahrát poznámky a soubory</a></li>
        <li><a href="{{ path('app_note_new') }}">Vytvořit novou poznámku</a></li>
        <li><a href="{{ path('app_files_index') }}">Seznam všech poznámek a souborů</a></li>
        <li><a href="{{ path('app_note_index') }}">Seznam všech poznámek</a></li>
    </ul>

    <div class="notesWrapper">
        <h2>Poznámky</h2>
        <a href="{{ path('app_note_new') }}" class="button">Vytvořit novou poznámku</a>
        <a href="{{ path('app_files_upload') }}" class="button">Nahrát nové poznámky</a>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Název</th>
                <th>Vytvořeno</th>
                <th>Akce</th>
            </tr>
            </thead>
            <tbody>
            {% for note in notes %}
                <tr>
                    <td>{{ note.id }}</td>
                    <td>{{ note.title }}</td>
                    <td>{{ note.createdAt|date('d. m. Y H:i:s')|default('') }}</td>
                    <td>
                        <a href="{{ path('app_note_show', {'slug': note.slug}) }}">Zobrazit</a>
                        <a href="{{ path('app_note_edit', {'slug': note.slug}) }}">Upravit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Nenalezeny žádné poznámky</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
