{% extends 'base.html.twig' %}

{% block title %}{{ 'login.tabMessage'|trans }}{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center">
        <div class="w-100" style="max-width: 400px">
            <div class="card shadow p-4">
                <h1 class="text-center mb-2 text-primary">ThinkLink</h1>
                <p class="text-center text-muted mb-4">Přihlašte se do svého účtu</p>
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3 text-center">
                            {{ 'login.signedAs'|trans }} {{ app.user.name }} ({{ app.user.userIdentifier }}), <a href="{{ path('app_logout') }}">{{ 'login.signOut'|trans }}</a>
                        </div>
                    {% endif %}

                    <label for="username">{{ 'login.email'|trans }}</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                    <label for="password" class="mt-2">{{ 'login.password'|trans }}</label>
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <input type="checkbox" name="_remember_me" id="_remember_me">
                        <label for="_remember_me">Remember me</label>
                    </div>
                    #}

                    <button class="btn btn-lg btn-primary w-100 mt-3" type="submit">
                        {{ 'login.signIn'|trans }}
                    </button>
                </form>

                <div class="text-center mt-3">
                    <small class="text-muted">Nemáte účet? <a href="{{ path('app_register') }}">Zaregistrujte se</a></small>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
