{% extends 'base.html.twig' %}

{% block title %}{{ note.title }}{% endblock %}

{% block body %}
    <a href="{{ path('app_note_index') }}" class="button">Zpět na seznam poznámek</a>
    <a href="{{ path('app_note_edit', {'slug': note.slug}) }}" class="button">Upravit</a>

    <section class="noteSection">
        <article class="noteContent">
            <h1>{{ note.title }}</h1>

            {{ noteContent|thinklink_markdown_to_html|markdown_to_html }}
            <hr>
            <!--<p>Četnosti:</p>
            <ul>
                {% for key,value in map %}
                    <li>{{ key }}: {{ value }}</li>
                {% endfor %}
            </ul>-->
        </article>
        <aside class="relevantNoteStrategiesWrapper">
            <h2>Relevantní poznámky podle jednotlivých metod:</h2>
            <div class="relevantNoteStrategies">
                {% for relevantNoteMethod in relevantNotesStrategies %}
                    <section class="relevantNoteStrategy">
                        <h5>{{ relevantNoteMethod.methodName }}</h5>
                        {% if relevantNoteMethod.relevantNotes is empty %}
                            <p>Žádné relevantní poznámky</p>
                        {% endif %}
                        <ul>
                            {% for relevantNote in relevantNoteMethod.relevantNotes %}
                                {% if relevantNote.note.id != note.id %}
                                    <li><a href="{{ path('app_note_show', {'slug': relevantNote.note.slug}) }}">{{ relevantNote.note.title }} - Skóre: [{{ relevantNote.score }}]</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </section>
                {% endfor %}
            </div>
        </aside>
    </section>

{% endblock %}
