<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Thinklink{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <!-- Source: https://getbootstrap.com/docs/4.0/components/navbar/ -->
            <!-- Web application was designed with Bootstrap 5.0. For repetitive tasks (copying the defined style and classes to all .twig files) was used AI tool ChatGPT 4o (https://chatgpt.com/) from OpenAI. -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('app_home') }}">ThinkLink</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Zobrazit navigaci">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li>
                                    <a href="{{ path('app_home') }}" class="nav-link">Poznámky</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_note_new') }}" class="nav-link">Vytvořit novou poznámku</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_files_upload') }}" class="nav-link">Import poznámek a souborů</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_files_index') }}" class="nav-link">Seznam nahraných souborů</a>
                                </li>
                            {% endif %}
                        </ul>
                        <ul class="navbar-nav">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a href="{{ path('app_user_index') }}" class="nav-link">Správa uživatelů</a>
                                </li>
                            {% endif %}
                            {% if app.user %}
                                <li class="nav-item">
                                    <a href="{{ path('app_user_show', {'id': app.user.id}) }}" class="nav-link">{{ app.user.name }}</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_logout') }}" class="nav-link">Odhlásit se</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a href="{{ path('app_login') }}" class="nav-link">Přihlášení</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_register') }}" class="nav-link">Registrace</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        {# Source: https://symfony.com/doc/current/session.html#flash-messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label == 'error' ? 'danger' : label }} flash-message" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <section class="content">
            {% block body %}{% endblock %}
        </section>
        <footer class="bg-light text-center py-3">
            <p class="mb-0 text-muted">{{ 'now'|date('Y') }} - Petr Kudrnovský, FIT ČVUT, Všechna práva vyhrazena</p>
        </footer>
    </body>
</html>
