{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>Uživatel: {{ user.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Jméno</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Upravit</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_user_index') }}">Zpět na seznam uživatelů</a>
        {{ include('user/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
